<form ng-submit="salvarAdministracao()" class="modal fade" id="administracao" administracao>
    <div class="modal-dialog" ng-if="Modal.getTitle() == 'administracao'">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Administração</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nome da administração</label>
                    <input required type="text" class="form-control" placeholder="Nome da administração" ng-model="data.nome">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-if="data.id && data.cidades.length == 0 && data.usuarios.length == 0" ng-click="confirmarExclusaoAdministracao()">Excluir</button>
                <button type="submit" class="btn btn-success">Salvar informações</button>
            </div>
        </div>
    </div>
</form>
