<form ng-submit="salvarColeta()" class="modal fade" id="coletas" coletas>
    <div class="modal-dialog" ng-if="Modal.getTitle() == 'coletas'">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Coletas</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Casa de oração</label>
                    <input disabled type="text" class="form-control" value="{{ data.cidade.nome + ' - ' + data.nome }}">
                </div>
                <div class="form-group">
                    <label>Mês:</label>
                    <input disabled type="text" class="form-control" value="{{ data.coleta.mes }}">
                </div>
                <div class="form-group">
                    <label>Construção:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.construcao">
                </div>
                <div class="form-group">
                    <label>Obra da piedade / Reunião da mocidade:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.piedade">
                </div>
                <div class="form-group">
                    <label>Viagens missionárias:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.viagens">
                </div>
                <div class="form-group">
                    <label>Manutenção:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.manutencao">
                </div>
                <div class="form-group">
                    <label>Despesas:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.despesas">
                </div>
                <div class="form-group">
                    <label>Assembleia:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.assembleia">
                </div>
                <div class="form-group">
                    <label>Especial Brasil:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.especial_brasil">
                </div>
                <div class="form-group">
                    <label>Especial Terreno:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.especial_terreno">
                </div>
                <div class="form-group">
                    <label>Especial da região de Amparo:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.especial_reg_amparo">
                </div>
                <div class="form-group">
                    <label>Especial de Águas de Lindoia:</label>
                    <input type="number" step="1" class="form-control" ng-model="data.coleta.especial_ag_lindoia">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Salvar informações</button>
            </div>
        </div>
    </div>
</form>
