<form ng-submit="salvarCasaOracao()" class="modal fade" id="informacoes-gerais" informacoes-gerais>
    <div class="modal-dialog" ng-if="Modal.getTitle() == 'informacoes-gerais'">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Casa de oração</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Código da casa de oração</label>
                    <input required type="text" class="form-control" placeholder="Código" ng-model="data.codigo">
                </div>
                <div class="form-group">
                    <label>Nome da casa de oração</label>
                    <input required type="text" class="form-control" placeholder="Casa de Oração" ng-model="data.nome">
                </div>
                <div class="form-group">
                    <label>Cidade</label>
                    <select required class="form-control" ng-options="cidade as cidade.nome for cidade in cidades track by cidade.id" ng-model="data.cidade">
                        <option selected disabled value="">Selecione uma cidade</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Possui habita-se</label>
                    <select class="form-control" ng-model="data.geral.habite_se">
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Possui alvará de funcionamento</label>
                    <select class="form-control" ng-model="data.geral.alvara">
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-group" ng-if="data.geral.alvara == 'sim'">
                    <label>Validade do Alvará</label>
                    <input type="text" class="form-control" placeholder="Validade do Alvará" ng-model="data.geral.alvara_validade">
                </div>
                <div class="form-group">
                    <label>Possui AVCB?</label>
                    <select class="form-control" ng-model="data.geral.avcb">
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-group" ng-if="data.geral.avcb == 'sim'">
                    <label>Validade do AVCB</label>
                    <input type="text" class="form-control" placeholder="Validade do AVCB" ng-model="data.geral.avcb_validade">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-if="data.id" ng-click="confirmarExclusaoCasaOracao()">Excluir</button>
                <button type="submit" class="btn btn-success">Salvar informações</button>
            </div>
        </div>
    </div>
</form>