<form ng-submit="salvarTerreno()" class="modal fade" id="terreno" terreno>
    <div class="modal-dialog" ng-if="Modal.getTitle() == 'terreno'">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Terreno</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nome do terreno</label>
                    <input required type="text" class="form-control" placeholder="Nome do terreno" ng-model="data.nome">
                </div>
                <div class="form-group">
                    <label>Cidade</label>
                    <select required class="form-control" ng-options="cidade as cidade.nome for cidade in cidades track by cidade.id" ng-model="data.cidade"></select>
                </div>
                <div class="form-group">
                    <label>Zona urbana?</label>
                    <select required class="form-control" ng-model="data.zona_urbana">
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Unificação de lotes?</label>
                    <select required class="form-control" ng-model="data.unificacao">
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Possui registro?</label>
                    <select required class="form-control" ng-model="data.registro">
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-group" ng-if="data.registro == 'nao'">
                    <label>Impedimentos para registro</label>
                    <input type="text" class="form-control" placeholder="Impedimentos para registro" ng-model="data.impedimentos">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Salvar informações</button>
            </div>
        </div>
    </div>
</form>