<form ng-submit="excluirUsuario()" class="modal fade" id="usuario-exclusao" usuario-exclusao>
    <div class="modal-dialog" ng-if="Modal.getTitle() == 'usuario-exclusao'">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Confirmar exclusão</h4>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja excluir o usuario <b>{{ data.nome }}</b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Excluir</button>
            </div>
        </div>
    </div>
</form>
