<h1><b>Casas de Oração:</b> Informações Gerais</h1>
<div class="btn-group pull-right hidden-print" role="group" aria-label="...">
    <a href="javascript:if(window.print)window.print()" class="btn btn-default">Imprimir</a>
    <a class="btn btn-success" href="#" ng-click="novaCasaOracao('informacoes-gerais')">Nova casa de oração</a>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Casa de Oração</th>
            <th>Possui habite-se?</th>
            <th>Possui alvará de funcionamento?</th>
            <th>Validade do alvará</th>
            <th>Possui AVCB?</th>
            <th>Validade do AVCB</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="casa_oracao in casas_oracao | orderBy:'codigo'" class="clickable" ng-click="editarCasaOracao('informacoes-gerais', casa_oracao)" ng-cloak>
            <td>{{ casa_oracao.codigo }}</td>
            <td>{{ casa_oracao.cidade.nome }} - {{ casa_oracao.nome }}</td>
            <td ng-class="gerarCor(casa_oracao.geral.habite_se)">
                <i ng-class="gerarIcone(casa_oracao.geral.habite_se)"></i>
            </td>
            <td ng-class="gerarCor(casa_oracao.geral.alvara)">
                <i ng-class="gerarIcone(casa_oracao.geral.alvara)"></i>
            </td>
            <td>{{ casa_oracao.geral.alvara_validade }}</td>
            <td ng-class="gerarCor(casa_oracao.geral.avcb)">
                <i ng-class="gerarIcone(casa_oracao.geral.avcb)"></i>
            </td>
            <td>{{ casa_oracao.geral.avcb_validade }}</td>
        </tr>
    </tbody>
</table>
