<div class="btn-group pull-right hidden-print" role="group" aria-label="...">
    <a href="javascript:if(window.print)window.print()" class="btn btn-default">Imprimir</a>
</div>
<div ng-repeat="resumo in resumos">
    <h1>Resumo de <b>{{ resumo.administracao }}</b></h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Porcentagem (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in resumo.lista" ng-cloak>
                <td>{{ item.nome }}</td>
                <td>{{ item.valor }}</td>
                <td>{{ item.porcentagem }}</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>