<div class="btn-group pull-right hidden-print" role="group" aria-label="...">
    <a href="javascript:if(window.print)window.print()" class="btn btn-default">Imprimir</a>
</div>
<div ng-repeat="administracao in administracoes">
    <h1>Resumo da administração de <b>{{ administracao.nome }}</b></h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Porcentagem (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="resumo in resumos" ng-cloak>
                <td>{{ resumo.nome }}</td>
                <td>{{ resumo.valor }}</td>
                <td>{{ resumo.porcentagem }}</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>

<div ng-if="tipo == 'regional'">
    <h1><b>Resumo da regional</b></h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Porcentagem (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="resumo in resumos" ng-cloak>
                <td>{{ resumo.nome }}</td>
                <td>{{ resumo.valor }}</td>
                <td>{{ resumo.porcentagem }}</td>
            </tr>
        </tbody>
    </table>
</div>