<h1><b>Usuários</b></h1>
<div class="btn-group pull-right hidden-print" role="group" aria-label="...">
    <a href="javascript:if(window.print)window.print()" class="btn btn-default">Imprimir</a>
    <a class="btn btn-success" href="#" ng-click="novoUsuario()">Novo Usuário</a>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Administração</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="usuario in usuarios" class="clickable" ng-click="editarUsuario(usuario)" ng-cloak>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.tipo }}</td>
            <td>{{ usuario.administracao.nome }}</td>
        </tr>
    </tbody>
</table>
