<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>Gestão à Vista - Sistema de Gerenciamento Regional</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-controller="MainController">
        <div ng-controller="ModalController">
            <div ng-include="'modals/cidade.html'"></div>
            <div ng-include="'modals/cidade-exclusao.html'"></div>
            <div ng-include="'modals/administracao.html'"></div>
            <div ng-include="'modals/administracao-exclusao.html'"></div>
            <div ng-include="'modals/usuario.html'"></div>
            <div ng-include="'modals/usuario-exclusao.html'"></div>
            <div ng-include="'modals/informacoes-gerais.html'"></div>
            <div ng-include="'modals/casaoracao-exclusao.html'"></div>
            <div ng-include="'modals/projetos.html'"></div>
            <div ng-include="'modals/confrontacao.html'"></div>
            <div ng-include="'modals/documentos-propriedade.html'"></div>
            <div ng-include="'modals/manutencao-preventiva.html'"></div>
            <div ng-include="'modals/terreno.html'"></div>
            <div ng-include="'modals/terreno-exclusao.html'"></div>
            <div ng-include="'modals/coletas.html'"></div>
            <div ng-include="'modals/alterar-senha.html'"></div>
        </div>
        <nav ng-if="!login" class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController" ng-cloak>
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><b>Gestão à vista</b></a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-if="usuario.tipo == 'Administrador'" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informações gerenciais <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/administracoes">Administrações</a></li>
                            <li><a href="/cidades">Cidades</a></li>
                            <li><a href="/usuarios">Usuários</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Casas de Oração <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/informacoes-gerais">Informações Gerais</a></li>
                            <li><a href="/projetos">Projetos</a></li>
                            <li><a href="/confrontacao">Confrontação Metragem Física x Projeto</a></li>
                            <li><a href="/documentos-propriedade">Documentos de Propriedade</a></li>
                            <li><a href="/manutencao-preventiva">Manutenção Preventiva</a></li>
                        </ul>
                    </li>
                    <li><a href="/terrenos">Terrenos</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coletas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cidade in cidades"><a ng-href="/coletas/{{ cidade.slug }}">{{ cidade.nome }}</a></li>
                            <li><a href="/coletas/resumo">Resumo da administração</a></li>
                        </ul>
                    </li>
                    <li><a href="/resumos">Resumos</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-cloak>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{ usuario.nome }} <span class="caret"></span></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="alterarSenha()">Alterar senha</a></li>
                            <li><a href="#" ng-click="sair()">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="container" ng-view></main>
        <script src="https://use.fontawesome.com/da60bd504f.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.8/angular-cookies.min.js"></script>
        <script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
