*:focus {
    outline: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

th, td {
    text-align: center;
    vertical-align: middle;
    font-size: 1.15rem;
}

td:first-child {
    white-space: nowrap;
}

main {
    margin-top: calc(50px + 1.5rem);
    text-align: center;
}

h1 {
    line-height: 45px;
    font-size: 2rem;
    display: inline-block;
    margin: 0;
}

.btn-group {
    margin: 0 0 1rem
}

label {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.modal-dialog .alert {
    margin-bottom: 0;
}

.text-bold {
    font-weight: bold;
}

.summary-table .total-cell, .summary-table .total-row td {
    background: #d6d6d6;
}

.summary-table thead th {
    border: none !important;
}

.cell-bordered {
    vertical-align: middle !important;
}

.summary-table .cell-bordered {
    border-top: 1px solid #aaa !important;
    background: #fcfcfc !important;
}

.summary-table thead th, .summary-table .cell-bordered {
    background: #34495E !important;
    color: white !important;
    border: none;
}

body {
  -webkit-print-color-adjust: exact;
}

@media print {
    h1 {
        margin: -1rem 0 2rem;
        display: block;
    }
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 10%;
}
